<div class="inner cover position-absolute top-50 start-50 translate-middle">
  <div class="container center">
    <div class="row">
      <h1 class="display-4">You are at adding members form!</h1>
    </div>
    <div class="row">
      <form class="g-1" method="POST">
        <h1 class="display-5" style="font-size: 24px;">Add member to existing
          family!</h1>
        <p class="lead">Choose family from dropdown.</p>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            required="True"
            class="form-control"
            name="name"
            placeholder="Enter name"
          />
        </div>
        <div class="form-group">
          <label for="description">Lastname</label>
          <input
            type="text"
            required="True"
            class="form-control"
            name="lastName"
            placeholder="Enter Lastname"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            required="True"
            class="form-control"
            name="email"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="description">Password</label>
          <input
            type="password"
            required="True"
            class="form-control"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <div class="form-group">
          <label for="family">Family</label>
          <select class="form-select" name="family">
            <option value="">Select family</option>
            {{#each families}}
              <option name="family" value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        <br />
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-dark">Add Member</button>
          <a class="btn btn-outline-dark" type="button" href="/admin">Back</a>
        </div>
      </form>
    </div>
  </div>
</div>
{{#if error}}
  <div class="alert alert-danger" role="alert" id="hideButton">
    <button
      name="hideButton"
      class="btn btn-outline-danger"
      type="button"
      onclick="hide()"
    >&times;</button>
    &ThickSpace;
    <span class="lead" style="font-size:24px;">Something went wrong.
    </span>
  </div>
{{/if}}