<div class="inner cover position-absolute top-50 start-50 translate-middle">
  <div class="container center">
    <div class="row">
      <h1 class="display-4">You are at adding budget panel!</h1>
    </div>
    <div class="row">
      <form class="g-1" method="POST">
        <h1 class="display-5" style="font-size: 24px;">Make them rich... or not
          😁</h1>
        <p class="lead">Choose family from dropdown.</p>
          <select class="form-select" name="family">
            <option value="">Select family</option>
            {{#each families}}
              <option name="family" value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
          <br>
          <div class="card" hidden="true">
            <div class="card-body">
              <h5 class="card-title display-5">{{families.[1].name}} family
                 has <span id="money" style="color: rgb(87, 153, 87)">500</span> PLN.</h5>
              <p class="lead"> You can increase or decrease their amount of money by 50, clicking on + or - buttons.</p>
              <button class="btn btn-outline-success"><span style="font-size:25px; text-decoration:solid">+</span></button>
              <button class="btn btn-outline-danger"><span style="font-size:25px; text-decoration:solid">&ThinSpace;-&ThinSpace;</span></button>
            </div>
          </div>
        </div>
        <br />
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-dark">Save</button>
          <a class="btn btn-outline-dark" type="button" href="/admin">Back</a>
        </div>
      </form>
    </div>
  </div>
</div>