<div class="inner cover position-absolute top-50 start-50 translate-middle">
  <div class="container center">
    <div class="row">
      <h1 class="display-5">You at admin panel!</h1>
    </div>
    <div class="row">
      <div class="d-grid gap-2">
        <a
          class="btn btn-outline-dark"
          type="button"
          href="admin/add-family"
        >Add family</a>
        <a
          class="btn btn-outline-dark"
          type="button"
          href="admin/add-members"
        >Add family member</a>
        <a class="btn btn-outline-dark" type="button" href="/add-budget">Add
          budget</a>
      </div>
    </div>
  </div>
</div>

{{#if message}}
  <script>
    alert({{message}});
  </script>
{{/if}}