<div class="position-absolute top-50 start-50 translate-middle">
  <h1 class="display-5">Welcome in Family Expenses Web App!</h1>
  <p class="text-center lead">
    Click
    <a style="text-decoration:none" href="/expenses">here</a>
    to enter expenses management.
  </p>
  {{#if user.isAdmin}}
    <p class="text-center lead">
      Click
      <a style="text-decoration:none" href="/admin">here</a>
      to enter admin panel.
    </p>
  {{/if}}
</div>

{{#if success}}
  <script>
    alert("Account created successfully!");
  </script>
{{/if}}