<div class="inner cover position-absolute top-50 start-50 translate-middle">
  <div class="container center">
    <div class="row">
      <h1 class="display-4">Log in!</h1>
    </div>
    <div class="row">
      <h1 class="display-5" style="font-size: 24px;">Fill in your credentials to log in.</h1>
      <div class="d-grid ">
        <form method="post">
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
            />
          </div>
          <br>
          {{!-- centered submit button --}}
            <div class="form-group d-flex justify-content-center">
                <button type="submit" id="login-button" class="btn outline-btn-primary btn-lg btn-block">
                Log in
                </button>
            </div>
        </form>
    </div>
  </div>
</div>