<div class="inner cover position-absolute top-50 start-50 translate-middle">
  <div class="container center">
    <div class="row">
      <h1 class="display-4">Create an account!</h1>
    </div>
    <div class="row">
      <form class="g-1" method="POST">
        <h1 class="display-5" style="font-size: 24px;">Fill all the fields</h1>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            required="True"
            class="form-control"
            name="name"
            placeholder="Enter name"
          />
        </div>
        <div class="form-group">
          <label for="description">Lastname</label>
          <input
            type="text"
            required="True"
            class="form-control"
            name="lastName"
            placeholder="Enter Lastname"
          />
        </div>
        <div class="form-group">
          <label for="description">Password</label>
          <input
            type="password"
            required="True"
            class="form-control"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <input value="true" name="isAdmin" hidden="true" checked="true" />
        <br />
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-dark">Create!</button>
          <a class="btn btn-outline-dark" type="button" href="/">Back</a>
        </div>
      </form>
    </div>
  </div>
</div>