<div class="inner cover position-absolute top-50 start-50 translate-middle">
  <div class="container center">
    <div class="row">
      <h1 class="display-4">Create an account!</h1>
    </div>
    <div class="row">
      <h1 class="display-5" style="font-size: 24px;">What type of account you
        want to register?</h1>
      <div class="d-grid gap-2">
        <a
          class="btn btn-outline-dark"
          type="button"
          id="admin-btn"
          href="account/admin"
        >Admin</a>
        <a
          class="btn btn-outline-dark"
          type="button"
          id="user-btn"
          href="account/user"
        >User</a>
        <a
          class="btn btn-outline-dark"
          type="button"
          id="back-btn"
          href="/"
        >Back</a>
      </div>

    </div>
  </div>
</div>